<!-- Author: Huijie Liu -->
<% if (courses.length==0){%>
      <hr>
      <p> There are no courses in the schedule now. </p>
  <% } else if (courses.length>0) { %>
      <h2 class="mt-5">My courses </h2>
      <div class="d-flex flex-wrap text-center overflow-scroll">
          <% for (course of courses) {%>
              <div class="p-3 m-3 border border-primary bg-light w-25">
                    <%= course.subject%> 
                    <%= course.coursenum%> 
                    <%= course.term%>
                    <br>
                    <strong><%= course.name%></strong>
                    <br>
                    <%=course.instructor[0] %>
                    <%=course.instructor[1] %>
                    (<%=course.instructor[2] %>)
                    <br>
                    Enrollment: <%=course.enrolled %>,
                    Limit: <%=course.limit || 999 %>,
                    Waitlist: <%= course.waiting %>
                    <hr>
                  <a href="/schedule/remove/<%= course._id %>">Delete</a>
              </div>
          <% }%>
          </div>
      <hr>
      <h2>Here is the JSON object used to generate this page</h2>
      <pre>
      '<%= JSON.stringify(courses,null,5) %>'
      </pre>
  <% } %>